body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media screen and (max-width: 600px){
    body {
        background-image: url("/Images/Login.gif");
        background-color: darkslategrey;
        background-size: auto;
        background-position-x:center;
        text-align:center;
        color:lightgray;
        margin-top:auto;
        margin-bottom:auto;
    }
    .body-content {
        /*position: absolute;*/
        top: 50%;
        left: 50%;
        padding:0;
    }

    .mobile-login {
        position: absolute;
        top: 50%;
        left: 50%;
        /*border: 3px solid black;*/
        width: 260px;
        height: 360px;
        margin-left: -130px;
        margin-top: -200px;
    }
    .center {
        position: relative;
        left: 50%;
        top: 50%;
        width: 200px;
        height: 50px;
        margin-left: -100px;
        margin-top: -180px;
    }

    .form-control {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        background-color: gray;
        border-color: #222;
        color: black;
        font-size: 16pt;
        width: 250px;
        height: 50px;
    }

    .btn-default {
        background-color: gray;
        color: black;
        border-color: #222;
        width: 200px;
        font-size: 16pt;
    }
    .text-danger{
        color:red;
        font-weight:600;
    }
    .navbar-nav { /*Navbar scroll fix*/
        margin:4px 0px;
    }
    .navbar-nav > li > a{
        font-size:20pt;
    }
    .navbar-inverse{
        background-color:#222;
        border-color:transparent;
    }
    .index-container{
        position:absolute;
        height:90%;
        width:100%;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 'table table' 'button1 button2' 'button3 button4' 'list list' 'check check';
        grid-gap: 20px;
        padding: 20px;
        grid-template-columns:minmax(60px,auto);
        height:100%;
    }
        

    .grid-container button{
        color:lightgray;
        background-color:#404040;
        border-color:gray;
        font-size:14pt;
    }
    .grid-container > div {
        text-align: center;
        padding: 20px 0;
        font-size: 10pt;
        color: lightgray;
        background-color: #4c4c4c;
    }
    .grid-table{grid-area:table; height:60%}
    .grid-button1{grid-area:button1}
    .grid-button2 {grid-area:button2}
    .grid-button3{grid-area:button3}
    .grid-button4{grid-area:button4}
    .grid-list{grid-area:list; }
    .grid-check{grid-area:check}

}